<div>
  <div *ngIf="waiting">
    <div class="overlay"></div>
    <img class="spinner" src="/assets/spinner.gif"/>
  </div>
  <div class="ms-bgColor-blue header">
    <span class="ms-font-su ms-fontColor-white">Angular Addin Demo</span>
  </div>
  <div class="p-2">
    <h3>{{mail.subject}}</h3>
    <small style="display: none">{{mail.itemId}}</small>
    <hr>
    <small>PJ:</small>
    <div class="columns col-12">
      <ng-container *ngFor="let attachment of attachments">
        <div [id]=attachment.id class="column col-2 card text-break" *ngIf="!attachment.isInline" (click)="selectAttachment(attachment) ">{{attachment.name}}</div>
      </ng-container>
    </div>

    <button class="btn btn-blue mt-2">Envoyer {{countActive}} PJ dans la fiche client</button>
    <!--<div [innerHtml]="domSanitizer.bypassSecurityTrustHtml(body)"></div>-->
  </div>
  <hr>
  <div id="preview" class="columns" *ngIf="this.selectedAttachment">
    <textarea class="form-input col-7" style="height: 250px" *ngIf="selectedAttachment.contentType === 'text/plain'">{{contentToPreview}}</textarea>
    <img [src]="'data:image/png;base64,' + selectedAttachment.contentBytes" class="img-responsive col-10" *ngIf="selectedAttachment.contentType === 'image/png'">
    <img [src]="'data:image/jpeg;base64,' + selectedAttachment.contentBytes" class="img-responsive col-10" *ngIf="selectedAttachment.contentType === 'image/jpeg'">
  </div>
</div>
