/* You can add global styles to this file, and also import other style files */
.header {
    padding: 10px;
}


.content {
    margin-top: 10px;
}

.active{
  background: #0078d7;
  color: whitesmoke;
}

.btn-blue{
  background: #0078d7;
  border-color: #0078d7;
  color: whitesmoke;
}

.btn-blue:hover{
  background: #0078d7;
  border-color: #0078d7;
  color: whitesmoke;
}
.btn-blue:active{
  background: #0078d7;
  border-color: #0078d7;
  color: whitesmoke;
}

.btn-blue:focus{
  background: #0078d7;
  border-color: #0078d7;
  color: whitesmoke;
}

.hover:hover {
    background: #f8f8f8;
}

.overlay {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: hsla(0,0%,100%,.4);
    z-index: 1000;
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -20px;
    z-index: 1100;
}

.ms-MessageBar-content {
    padding: 2px !important;
}

.pct100 {
    width: 100%;
    float: left;
}

.padding10 {
    padding: 10px;
}

.right {
    float: right;
}

.left {
    float: left;
}

.icon {
    padding-left: 8px;
    cursor: pointer;
}

.itemRow {
    padding-top: 4px;
    padding-bottom: 4px;
}

.itemRow:hover {
    background-color: #eeeeee;
}

.tbl-head {
    margin-bottom: 5px;
}
